@import "../../../mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&family=Cinzel+Decorative:wght@400;700&family=Gajraj+One&family=Oi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Syne:wght@800&display=swap');


.heroBanner {
    width: 100%;
    height: 450px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    position: relative;

    @include md{
        height: 700px;
    }
    .backdrop-img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
        overflow: hidden ;
        .lazy-load-image-background{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
                
        }
    }

    .opacity-layer{
        width: 100%;
        height: 250%;
        background: linear-gradient(
            180deg,
            rgba(4,21,45,0) 40%,
            #393053 79.17%
        );
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .heroBannerContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        text-align: center;
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        .title{
            font-family: 'Press Start 2P', cursive;
            font-size: 50px;
            font-weight: 700;
            @include md{
                margin-bottom: 0;
                font-size: 90px;
            }
        }
        .subTitle{
            font-family: 'Cinzel Decorative', cursive;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 40px;
            @include md{
                font-size: 24px;
            }
        }
        .searchInput{
            display: flex;
            align-items: center;
            width: 100%;
            input{
                width: calc(100% - 100px);
                height: 50px;
                background-color: white;
                outline: 0;
                border: 0;
                border-radius: 30px 0 0 30px;
                padding: 0 15px;
                font-size: 14px;
                @include md{
                    width: calc(100% - 150px);
                    height: 60px;
                    font-size: 20px;
                    padding: 0 30px;

                }
            }
            button{
                width: 100px;
                height: 50px;
                background: var(--gradient);
                color: white;
                outline: 0;
                border: 0;
                border-radius: 0 30px 30px 0;
                font-size: 16px;
                @include md{
                    width: 150px;
                    height: 60px;
                    font-size: 18px;
                }
            }
        }
    }
}